.btn_container{
    margin:10px;
    width:calc(100% - 20px);
    text-align: end;
}
.btn{
    background-color: var(--c-huohuade);
    font-size: 1em;
    padding:8px 20px;
    color: #fff;
    border-radius: 3px;
    border:none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
}
.btn:active{
    background-color: var(--c-huohuade-light);
}
.btn:disabled{
    background-color:var(--c-border);
    cursor: not-allowed;
}
///
.btn_icon_25{
    width:25px;
    height:25px;
    padding:5px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    position: relative;
}
.btn_icon_25:hover{
    background-color: var(--c-gray-light);
}
.btn_icon_30{
    width:30px;
    height:30px;
    padding:5px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    position: relative;
}
.btn_icon_30:hover{
    background-color: var(--c-gray-light);
}

//
