.row{display: flex;flex-direction: row;}
.column{display: flex;flex-direction: column;}
.wrap{flex-wrap: wrap;}
.wrapR{flex-wrap: wrap-reverse;}
.alnS{align-items: flex-start;}
.alnE{align-items: flex-end;}
.alnC{align-items: center;}
.alnBL{align-items: baseline;}
.jstfyS{justify-content: flex-start;}
.jstfyC{justify-content: center;}
.jstfySB{justify-content: space-between;}
.jstfyE{justify-content: flex-end;}

.alnsE{align-self: flex-end;}

.grow1{flex-grow: 1;}
.grow2{flex-grow: 2;}
.shrink0{flex-shrink: 0;}
.none{display:none !important}





///
.zx5{z-index: 5;}
.zx10{z-index: 10;}
.zx20{z-index: 20;}

//
.vaT{vertical-align: top !important;}


//
