.fs06{font-size:.6em}
.fs07{font-size:.7em}
.fs08{font-size:.8em}
.fs09{font-size:.9em}
.fs101{font-size: 1.1em;}
.fs102{font-size: 1.2em;}
.fs103{font-size: 1.3em;}
.fs104{font-size: 1.4em;}
.fs105{font-size: 1.5em;}


.bold500{font-weight: 500;}
.bold600{font-weight: 600;}


.tnw{white-space: nowrap;}
.tac{text-align: center;}
.tae{text-align: end;}


.lthrow{text-decoration: line-through;}
