.ico-menu{background: url("/storage/icons/menu.svg") top right/cover;}
.ico-close{background: url("/storage/icons/close.svg") top right/cover;}
.ico-close-white{background: url("/storage/icons/close-white.svg") top right/cover;}
.ico-calendar{background: url("/storage/icons/calendar.svg") top right/cover;}
.ico-coach{background: url("/storage/icons/coach.svg") top right/cover;}
.ico-location{background: url("/storage/icons/location.svg") top right/cover;}
.ico-player{background: url("/storage/icons/player.svg") top right/cover;}
.ico-insights{background: url("/storage/icons/insights.svg") top right/cover;}
.ico-activity_logs{background: url("/storage/icons/activity_logs.svg") top right/cover;}
.ico-notifications{background: url("/storage/icons/notifications.svg") top right/cover;}
.ico-logout{background: url("/storage/icons/logout.svg") top right/cover;}
.ico-china{background: url("/storage/icons/china.svg") top right/cover;}
.ico-usa{background: url("/storage/icons/usa.svg") top right/cover;}
.ico-delete{background: url("/storage/icons/delete.svg") top right/cover;}
.ico-edit{background: url("/storage/icons/edit.svg") top right/cover;}
.ico-settings{background: url("/storage/icons/settings.svg") top right/cover;}
.ico-arrow-down{background: url("/storage/icons/arrow-down.svg") top right/cover;}
.ico-arrow-up{background: url("/storage/icons/arrow-up.svg") top right/cover;}
.ico-arrow-next{background: url("/storage/icons/arrow-next.svg") top right/cover;}
.ico-arrow-prev{background: url("/storage/icons/arrow-prev.svg") top right/cover;}
.ico-money{background: url("/storage/icons/money.svg") top right/cover;}
.ico-warning{background: url("/storage/icons/warning.svg") top right/cover;}
.ico-zoom-in{background: url("/storage/icons/zoom-in.svg") top right/cover;}
.ico-zoom-out{background: url("/storage/icons/zoom-out.svg") top right/cover;}
.ico-gps{background: url("/storage/icons/gps.svg") top right/cover;}
.ico-phone{background: url("/storage/icons/phone.svg") top right/cover;}
.ico-wechat{background: url("/storage/icons/wechat.svg") top right/cover;}
.ico-check1{background: url("/storage/icons/check1.svg") top right/cover;}
.ico-check0{background: url("/storage/icons/check0.svg") top right/cover;}
.ico-recover{background: url("/storage/icons/recover.svg") top right/cover;}
.ico-add{background: url("/storage/icons/add.svg") top right/cover;}
.ico-yes-green{background: url("/storage/icons/yes-green.svg") top right/cover;}
.ico-no-red{background: url("/storage/icons/no-red.svg") top right/cover;}
.ico-pinned{background: url("/storage/icons/pinned.svg") top right/cover;}
.ico-un-pinned{background: url("/storage/icons/un-pinned.svg") top right/cover;}
