.m5{margin:5px;}
.mX5{margin-left:5px;margin-right:5px}
.mY5{margin-top:5px;margin-bottom:5px}
.mB5{margin-bottom:5px;}

.m10{margin:10px}
.mX10{margin-left:10px;margin-right:10px}
.mY10{margin-top:10px;margin-bottom:10px}
.mB10{margin-bottom:10px;}


.mT20{margin-top:20px}
