.ma{margin:auto;}

.mie-3{margin-inline-end: 3px;}

.m5{margin:5px;}
.mX5{margin-left:5px;margin-right:5px}
.mY5{margin-top:5px;margin-bottom:5px}
.mB5{margin-bottom:5px;}
.mT5{margin-top:5px;}
.mie-5{margin-inline-end: 5px;}
.mis-5{margin-inline-start: 5px;}


.m10{margin:10px}
.mX10{margin-left:10px;margin-right:10px}
.mY10{margin-top:10px;margin-bottom:10px}
.mB10{margin-bottom:10px;}
.mT10{margin-top:10px;}
.mie-10{margin-inline-end: 10px;}
.mis-10{margin-inline-start: 10px;}

.m15{margin:15px}

.m20{margin:20px}
.mX20{margin-left:20px;margin-right:20px}
.mY20{margin-top:20px;margin-bottom:20px}
.mB20{margin-bottom:20px;}
.mT20{margin-top:20px}
.mie-20{margin-inline-end: 20px;}

.mB30{margin-bottom:30px;}
.mX30{margin-left:30px;margin-right:30px}
.mY30{margin-top:30px;margin-bottom:30px}

.mB40{margin-bottom:40px;}
.mX40{margin-left:40px;margin-right:40px}
.mY40{margin-top:40px;margin-bottom:40px}
.mie-40{margin-inline-end: 40px;}

.mie-100{margin-inline-end: 100px;}
