.menu_container{
    border-inline-start:1px solid var(--c-gray-light);
    padding:10px 10px;
    height:calc(100% - 20px);
    border-radius: 5px;
    position: relative;
    text-align: start;
    width:50px;
    width:auto;
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl;
}
.menu_container_expanded{
    .menu_coach_name{display: block;}
    .menu_coach_jobtitle{display: block;}
    .menu_elem_txt{display: block;}
    .menu_huohuade{display: block;}
    .menu_logo{display: block;}
    .menu_elem{width: calc(100% - 22px);min-width:200px;}
    width:auto;
}
.notifications_Number{
    position: absolute;
    bottom:-2px;
    right:-2px;
    min-width:1.2em;
    text-align: center;
    background-color: var(--c-huohuade-light);
    color:#fff;
    border-radius: 5px;
    // border:1px solid var(--c-border);
    font-size: .8em;
}


.menu_huohuade{
    font-size: 1.2em;
    font-weight: 500;
    margin-inline-start: 5px;
    white-space: nowrap;
    display: none;
}
.menu_logo{
    width: 30px;
    display: none;
    margin-inline-start:10px;
}
.menu_icon{
    margin-inline-start: 8px;
}
.menu_icon_img{
    width:30px;
    height:30px;
}

.menu_coach_img{
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.2) 0px 0px 5px 0px;
    border:1px solid #fff;
    height:50px;
    width:50px;
    object-fit: cover;
}
.menu_coach_name{
    font-size: 1em;
    font-weight: bold;
    margin-inline-start: 10px;
    display: none;
    white-space: nowrap;
}
.menu_coach_jobtitle{
    margin-top:2px;
    margin-inline-start: 10px;
    font-size: .8em;;
    white-space: nowrap;
    display: none;
}
.menu_elem{
    direction: ltr;
    width:auto;
    width:30px;
    padding:10px;
    margin:10px 0px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border:1px solid transparent;
    transition-duration: 200ms;
}
.menu_elem:hover{
    border:1px solid var(--c-huohuade-light);
}
.menu_elem_selected{
    border:1px solid var(--c-huohuade-light);
}
.menu_elem_img{
    width:30px;
    height:30px;
}
.menu_elem_txt{
    display: none;
    margin-inline-start: 10px;
    font-size: 1em;
    font-weight: 500;
}


//
